body{
    background: darkred;

}

.container{
    background: black;
    margin: auto;
}
.header{
 background: black;
}
.top{
    margin-top: 30px;
}
#gif{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}
.menu{
    float: right;
}
.menu li {
    display: inline-block;
    padding: 10px 20px;
}
.menu a{
    color: white;
    text-decoration: none;
}
.menu a:hover{
    background: darkred;
    padding: 10px;
}

.row{
    text-align:center;
}
img{
    width: 400px;
}
.col{
    width: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 30px;

}
.col a {
    text-decoration: none;
    color: black;

}
.col button {
    background: red;
    border: 1px black solid;

}

.col .button1{
    transition: transform 1s;
}
.col .button1:hover{
    transform: scale(1.15) ;
}
.col .button2{
    transition: transform 1s;
}
.col .button2:hover{
    transform: scale(1.15) ;

}
.col .button3{
    transition: transform 1s;
}
.col .button3:hover{
    transform:  scale(1.15);
}
.footer{
    overflow: hidden;
}
.footer a{
    color: black;
    text-decoration: none;
}
.footer span{
    float: left;
    margin-top: 40px;
    margin-left: 30px;
}

.footer a:hover{
    color: white;
}
.img2{
    width: 200px;
}
.col2{
    width: 200px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 30px;
    transition: transform 1s ;

}
.col2:hover{
    transform: scale(1.15) ;
}
.table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
    padding: 5px;
    background-color:white;
}
.howdy{
    width: 400px;
}
.howdy .left{
    float: right;
}
.HowTo{
    width: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 30px;
}
.HowTo p{
    font-family: "Copperplate Gothic Bold" ;
    font-size: 30px;
}
button2 {
    color: white;
}